# virtualenv
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo

# Ignore VS Code and IDE-specific files
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Docker commands
commands.txt

# Kubernetes files
deployment.yaml
service.yaml

# folders
/vite-chat-ui