.chat-header-container {
    flex-shrink: 0;
    border-radius: 34px 34px 0px 0px;
    background: linear-gradient(90deg, #3C82CC -13.3%, #C3E3FF 99.86%);
    display: flex;
    justify-content: space-between;
  }
  
  .chat-header-container-title {
    display: inline-flex;
    align-items: center;
    gap: 14px;
    padding-left: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
  
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.18px;
  }
  
  /* .chat-header-container-company-logo {
      display: inline-flex;
        align-items: center;
        gap: 14px;
        padding-right: 20px;
        padding-top: 18px;
        padding-bottom: 18px;
  } */