.App {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(156.25% 100% at 50% 0%, #FFF8E5 0%, #FDEDEC 17.83%, #DAE2F7 100%);
}